body {
  background-color: rgb(189, 189, 189);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Turret Road', cursive;
  font-size: 50px;
}

h2 {
  color: rgb(31, 31, 31);
  text-align: center;
  font-family: 'Turret Road', cursive;
  font-size: 30px;
}

table {
  border: 2px solid rgb(255, 255, 255);
  width: 700px;
  margin: 0 auto;
  border-radius:11px;
}

#TableWide {
border: 2px solid rgb(255, 255, 255);
width: 1500px;
margin: 0 auto;
}

thead {
  background-color: rgb(255, 255, 255);
  font-family: 'Red Hat Mono', monospace;
  color: rgb(50, 80, 150);
}

td {
  border-top: 1px solid rgb(226, 226, 226);
  width: 200px;
  font-family: 'Red Hat Mono', monospace;
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.code {
  background-color: rgb(212, 212, 212);
  font-family: 'Red Hat Mono', monospace;
  color: rgb(0, 0, 0);
}

.boximage {
  vertical-align: middle;
  border-radius: 3%;
}